<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h2>To jest pierwsza strona</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci commodi consequatur delectus dolore eligendi itaque laudantium natus neque, nobis perspiciatis quam ratione saepe sed sequi, totam ullam vero voluptates?</p>

    Przejdź do strony <a href="{% url 'hello_app:second' %}">drugiej</a>

</body>
</html>