<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h2>To jest druga strona</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aperiam assumenda, culpa dicta dolores eveniet excepturi facere ipsa magnam necessitatibus nemo non placeat quasi qui reprehenderit tempora ullam, voluptatum.</p>

    Przejdź do strony <a href="{% url 'hello_app:third' 'abc' %}">trzeciej</a>

</body>
</html>