<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h2>Edycja taska o id {{ task.id }}</h2>
    <form method="POST">{% csrf_token %}
        <input type="text" name="task" placeholder="task" value="{{ task.name }}">
        <input type="submit" value="Zapisz">
    </form>
    <p>
        <a href="{% url 'form_app:task_list_view' %}"><button>Lista zadań</button></a>
    </p>
</body>
</html>
