<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body style="margin:1%;">
    <ui>
    {% for book in object_list %}
        <li style="margin:0.5%;">
            {{ book.title }}
            <a href="{% url 'crud_app:book_delete_view' book.id %}">
                <button type="button" class="btn btn-danger">Usuń</button>
            </a>
        </li>
    {% endfor %}
    </ui>
</body>
</html>